
<script id="lastDrawingsTemplate" type="html/template">
    <section class='lastDrawing'>
        <h1 class="lastDrawingTitle">Title: $( Title )</h1>
        <img class="lastDrawingThumb" src=$( ImageSource ) />
    </section>
</script>

<script type="text/javascript">
    $(function () {
        updater.add({url: '@Url.Action("Latest", "Drawings")',
        templateId: 'lastDrawingsTemplate',
        outputContainer: 'last_drawings'});
    });
</script>
