/** { border: solid; }*/

section.movie
{
	border: solid 3px rgb(83, 78, 38);
	width: 220px;
	height: 170px;
	margin: 10px;
	padding: 5px;
	float:left;
}

section.movie hgroup h1 
{
	border-radius: 15px;
	text-align:center;
	margin-top: 10px;
}
section.movie hgroup h2
{
	display: none;
}

section.photos h1
{
	display: none;
}

section.photos img
{
	width: 40%;
	position: relative;
	left: 30%;
}

span.duration
{
	display: none;
}

span.year
{
	display: none;
}

.cast
{
	display: none;
}

section.links
{
	display: none;
}
